
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: solid lightgrey 1px;
  height: 180px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.logo {

  align-items: center;
  display: flex;
  padding-left: 80px;
  flex-grow: 1;
}

.logo span {
  color: mediumaquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 10px;
}


header nav {
  display: block;
  padding-right: 60px;
}

nav span {
  display: inline-block;
  padding: 20px;
}

nav a:link {
  color: mediumaquamarine;
}

nav a:visited {
  color: mediumaquamarine;
}

nav a:hover {
  color: lightgrey;
}

nav a:active {
  color: mediumaquamarine;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
  top: 180px;
  width: 100%;


}

.largecolumn {
  display: flex;
  flex-flow: row wrap;
  width: 630px;
  border: solid 1px lightgrey;

}

.mediumcolumn {
  display: flex;
  width: 300px;
  border: solid 1px lightgrey;

}

.smallcolumn {
  display: flex;
  width: 240px;
  border: solid 1px lightgrey;
}

.section1 {
  flex-flow: row wrap;
  width: 630px;
  border: solid 1px lightgrey;
}

.spanfull span {
  background-image: url("../images/img-story-main.png");
  display: block;
  height: 300px;
  width: 630px;
  border: solid 1px lightgrey;

}

.section2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: solid 1px mediumaquamarine;
  width: 100%;

}

.section2half {
  display: flex;
  flex-flow: column wrap;
  width: 300px;

  border: solid 1px lightgrey;
}

.text {
  border: solid 1px lightgrey;

}

.spanhalf1 {
  background-image: url("../images/img-story-2.png");
  background-repeat: no-repeat;
  height: 300px;
  border: solid 1px lightgrey;

}

.spanhalf2 {
  background-image: url("../images/img-story-3.png");
  background-repeat: no-repeat;
  height: 300px;
  border: solid 1px lightgrey;
}
