
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: solid lightgrey 1px;
  height: 180px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.logo {

  align-items: center;
  display: flex;
  padding-left: 80px;
  flex-grow: 1;
}

.logo span {
  color: mediumaquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 10px;
}


header nav {
  display: block;
  padding-right: 60px;
}

nav span {
  display: inline-block;
  padding: 20px;
}

nav a:link {
  color: mediumaquamarine;
}

nav a:visited {
  color: mediumaquamarine;
}

nav a:hover {
  color: lightgrey;
}

nav a:active {
  color: mediumaquamarine;
}

.main {
  display: flex;
  border: solid 1px mediumaquamarine;
  position: relative;
  top: 180px;
  width: 100%;
  flex-wrap: wrap;

  justify-content: space-around;

}

.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}
.large span {
  border: solid 1px lightgrey;
}

.large p {
  border: solid 1px lightgrey;
}

.large h2 {
  border: solid 1px lightgrey;
}

.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: solid 1px lightgrey;
}

.small {
  display: flex;
  flex-direction: column;
  width: 240px;
  border: solid 1px lightgrey;
}

.small img {
  border: solid 1px lightgrey;
}

.small h3 {
  border: solid 1px lightgrey;
}

.small p {
  border: solid 1px lightgrey;
}
